


/*css trang chu*/
a.btn.vingene-btn.dky-top{
  background: transparent url('../img/bg-out-sevicer.png') 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  background-color: #056839;
  font-size: 14px;
  font-family:  SemiBold;
  padding-right: 40px;
  padding-left: 15px;
  margin-bottom: 45px;
}
.vingene-btn.bg-btn:focus,
.vingene-btn.bg-btn:hover {
    color: #25A568;
}
 a.btn.vingene-btn.dky-top:hover{
  background-color: #8CC63F;
  color: #fff;
 }
a.btn.vingene-btn.dky-top:before {
    content: url(../img/ic-w.png);
    position: absolute;
    left: 80%;
    top: 5px;
}
.bg-img1 {
  background-image: url(../img/banner-top-index.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img2 {
  background-image: url(../img/banner-top-index.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.owl-prev img{
  position: absolute;
  top: 47%;
  left: 50px;
}
.owl-next img{
  position: absolute;
  top: 47%;
  right: 50px;
}
input.btn.vingene-btn.form-f{
  border: 1px solid #fff;
  width: 345px;
  margin-right: 10px;
  background-color: #ffffff2e;
}
/* Chrome, Opera, Safari */
.vingene-btn::-webkit-input-placeholder {
  color: #fff;
  opacity: 70%;
}

/* Firefox 19+ */
.vingene-btn::-moz-placeholder {
  color: #fff;
  opacity: 70%;
}

/* IE 10+ */
.vingene-btn:-ms-input-placeholder {
 color: #fff;
  opacity: 70%;
}

/* Firefox 18- */
.vingene-btn:-moz-placeholder {
 color: #fff;
  opacity: 70%;
}
.welcome-text button.bg-btn{
  text-align: left;
} 
.vingene-btn {
    position: relative;
    z-index: 1;
    min-width: 130px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 0px 25px;
    color: #fff;
    border-radius: 60px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.vingene-btn.form-f{
  text-align: left;
}
button.bg-btn{
  background-image: url('../img/bg-bt-dky.png');
  background-repeat: no-repeat;
  z-index: 99;
  background-color: #fff;
  color: #056839;
  font-weight: bold;
  position: relative;
  width: 190px;
}
button.bg-btn:before {
    content: url(../img/icon-phone.png);
    position: absolute;
    left: 75%;
    top: 5px;
}
a.btn.vingene-btn.mt-30.a-view:hover{
  background-color: #8CC63F;
  color: #056839;
}
.box-l{
  background-image: url('../img/bg-image-box-l.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.box-l img{
  margin-right: 20px;
}
.conten-ct h2{
  color: #2D2D2D;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
}
.conten-ct p{
  font-size: 14px;
  color: #6D6D6D;
  font-family: Regular;
}
.hot-line img{
  margin-bottom: 10px;
}
.hot-line span{
  color: #FC6D1D;
  font-size: 23px;
  font-weight: bold;
}
.no-pd-r{
  padding: 0px; 
}
.no-pd-l{
  padding: 0px;
}
.form-content
{
    padding: 5%;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.div-box-shadow{
  box-shadow: 0px 3px 15px #00000029;
  border-radius: 8px;
  background-color: #fff;
}
input.form-control.control{
  border: 1px solid #106A3F;
  background-color: #106a3f0f;
  width: 97%;
  padding: 0.375rem 1.5rem;
}
/*css-palatehoder*/
/* Chrome, Opera, Safari */
input.form-control.control::-webkit-input-placeholder {
  color: #106A3F;
  font-family: Regular;
}

/* Firefox 19+ */
input.form-control.control::-moz-placeholder {
  color: #106A3F;
  font-family: Regular;
}

/* IE 10+ */
input.form-control.control:-ms-input-placeholder {
 color: #106A3F;
 font-family: Regular;
}

/* Firefox 18- */
input.form-control.control:-moz-placeholder {
 color: #106A3F;
 font-family: Regular;
}
button.btnSubmit.supmit {
    float: right;
    margin-right: 16px;
    width: 160px;
    height: 40px;
    background-color: #056839;
    font-size:14px;
    outline: none;
    font-family: SemiBold ;
}
/* :: 8.0 Hero CSS */
.single-welcome-slide {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 720px;
    background-color: #ffffff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide {
        height: 600px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide {
        height: 600px;
    }
}
@media only screen and (max-width: 767px) {
    .single-welcome-slide {
        height: 300px;
        top: 60px;
    }
}
.single-welcome-slide .welcome-text {
    position: relative;
    z-index: 1;
}
.single-welcome-slide .welcome-text h2{
 font-size: 36px;
 color: #fff;
 line-height: 20px;
 text-transform: uppercase;
 font-family: Regular;
}
.single-welcome-slide .welcome-text h3{
 font-weight: bold;
 font-size: 36px;
 color: #fff;
 line-height: 20px;
 text-transform: uppercase;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide .welcome-text h2 {
        font-size: 60px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide .welcome-text h2 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .single-welcome-slide .welcome-text h2 {
        font-size: 36px;
    }
}
.single-welcome-slide .welcome-text p {
    font-size: 14px;
    color: #fff;
    display: block;
    margin: 25px 0px;
    font-family:Regular;
}

.welcome-slides {
    position: relative;
    z-index: 1;
    overflow: hidden;
}


/*css-out-sevice*/
.bg-out-sevice,.bt-about{
  background-image: url('../img/bg-xoc.png'); /*chua co anh*/
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-position: left 19px bottom -86px;
}
.about-us-content.mb-80 h5,.about-us-content.mb-30 h5 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #8CC63F;
    text-transform: uppercase;
    position: relative;
    margin-left: 37px;
    padding-left: 10px;
}
.about-us-content.mb-80 h5:before,.about-us-content.mb-30 h5:before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #8CC63F;
    position: absolute;
    left: -35px;
    bottom: 5px;
}
.about-us-content.mb-80 h3 {
    font-weight: bold;
    font-size: 42px;
    color: #056839;
    
}
.desc-1{
  color: #6D6D6D;
  font-size: 16px;
  font-family: SemiBold ;
}
.desc-2{
  color: #6D6D6D;
  font-size: 14px;
  font-family: Regular;
}
.a-view{
  background-image: url('../img/bg-out-sevicer.png');
  background-repeat: no-repeat;
  width: 131px;
  text-align: center;
  background-color: #106A3F;
  background-size: cover;
}
.about-us-thumbnail img{
  width: 100%;
  border-radius: 5px;
}
a.popup-video.video_play_button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
  animation: pulse 2s infinite;
}


.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(167, 251, 209, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
      box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.video_icon{
  position: absolute;
    top: 30%;
    left: 44%;
}
.btn-fb {
    background-color: #3b5998 !important;
}
.btn-tw {
    background-color: #55acee !important;
}
.btn-gplus {
    background-color: #dd4b39 !important;
}
.btn-ins {
    background-color: #2e5e86 !important;
}

.btn-floating.btn-sm i {
  font-size: .96154rem;
  line-height: 45.15385px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}
.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #25A568;
}
/*////////////////////////////css-npit/////////////*/
.section-heading h2 {
    font-size: 77px;
    text-transform: capitalize;
    display: block;
    color: #FFFFFF;
}
.bg-green{
  position: absolute;
  background-color: #22744bdb;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.vingene-service-area.box-npit{
  background-image: url('../img/bg-npit.png'); /*chua co anh*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-heading h3 {
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: Regular;
}
.section-heading p{
  color: #fff;
  font-size: 14px;
  font-family: Light;
}
.img-c {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.img-c img{
  margin: 0 auto;
  margin-bottom: 0px !important;
}
.bg-ray{
  background-image: url('../img/toi-co.png');
  background-repeat: no-repeat;
  background-position: left -112px top -64px;
}
.bg-xn{
  background-image: url('../img/diachi.png');
  background-repeat: no-repeat;
  background-position:  left 0px top 0px;
}
/** :: 16.0 Service CSS */
.single-service-area {
    position: relative;
    z-index: 1;
    padding: 40px 10px;
    text-align: left;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-service-area {
        padding: 30px 15px;
    }
}
.single-service-area img {
    display: inline-block;
    margin-bottom: 15px;
}
.single-service-area h5 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    font-weight: bold;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-service-area h5 {
        font-size: 18px;
    }
}
.single-service-area p {
    margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-service-area p {
        font-size: 14px;
    }
}
.single-service-area:hover,
.single-service-area:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}
.single-service-area.wow.fadeInUp.hover-h5:hover h5{
  color: #CAF88D;
}
.single-service-area.about:hover h5{
  color: #056839;
}
.single--service--item {
    position: relative;
    z-index: 1;
}
.single--service--item .service-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}
@media only screen and (max-width: 767px) {
    .single--service--item .service-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .single--service--item .service-content .service-text h2 {
        font-size: 24px;
    }
}
.single--service--item .service-content .service-text {
    margin-left: auto;
    width: 555px;
    padding: 80px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single--service--item .service-content .service-text {
        width: 455px;
    }
     .single--service--item .service-content .service-text h2 {
        font-size: 36px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single--service--item .service-content .service-text {
        width: 345px;
    }
     .single--service--item .service-content .service-text h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .single--service--item .service-content .service-text {
        width: 100%;
        padding: 80px 30px;
    }
}
.single--service--item .service-content .service-text h2 {
    font-size: 42px;
    display: block;
    margin-bottom: 40px;
}

.single--service--item .service-content .service-text p {
    margin-bottom: 30px;
    display: block;
    max-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.single--service--item .service-content .service-text p span:last-child {
    font-weight: 600;
    color: #252525;
}
.single--service--item .service-content .service-text p:last-child {
    margin-bottom: 0;
}
.single--service--item .service-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    height: 500px;
}
@media only screen and (max-width: 767px) {
    .single--service--item .service-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 300px;
    }
}
.single--service--item.odd-item .service-content .service-text {
    margin-left: 15%;
    width: auto;
}
@media only screen and (max-width: 767px) {
    .single--service--item.odd-item .service-content .service-text {
        margin-left: auto;
    }
}

.vingene-service-area {
    position: relative;
    z-index: 1;
}
.vingene-service-area .single--service--item:first-child {
    border-top: 1px solid #e5e5e5;
}
.vingene-service-area .single--service--item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.desc-npi-1{
  font-size: 14px;
  color: #fff;
  font-family: Light;
}
.desc-npi-2{
  font-weight: bold;
  color: #fff;
}
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 35px;
}
/*/////////////////////////////css-why chose///////////////////*/
.section-heading-why h2{
  color: #056839;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}
.choose-us-content.mt-30.mb-80 ul li a{
  font-family: SemiBold;
  color: #6D6D6D;
  letter-spacing: 0;
  display: flex;
}
.section-heading-why h3{
  color: #056839;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
}
.section-heading-why.mt-30 p{
  font-size: 14px;
  color: #6D6D6D;
  margin-bottom: 0px;
}
.choose-us-content.mt-30.mb-80 p{
  font-family: SemiBold;
  font-size: 16px;
  color: #6D6D6D;
}
.choose-us-content {
    position: relative;
    z-index: 1;
}

.choose-us-content ul li i {
    color: #056839;
    opacity: 0.25;
    padding-right: 20px;
    font-size: 10px;
}
.choose-us-content ul li:last-child {
    margin-bottom: 0;
}


@media only screen and (max-width: 767px) {
    .choose-us-thumbnail {
        height: 220px;
    }
}

@media only screen and (max-width: 767px) {
    .choose-us-thumbnail .choose-us-img {
        top: -15px;
        right: 15px;
    }
}
.choose-us-content ul{
  margin-left: 10px;
}

.why-content h4{
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.why-content h5{
  font-size: 30px;
}
.logo-why img{
  max-height: 280px;
  margin-top: -10px;
}
 p.content-why-1{
  font-family: SemiBold ;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 1;
}
 p.content-why-2{
  font-family: Regular ;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 1;
}
.mb-30{
  margin-bottom: 35px;
}
.bg-chose{
   background-image: url('../img/bg-chose.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-chose-green{
 position: absolute;
 font-size: 200px;
 left: 30%;
 top: -48px;
 color: #1d6843;
}
/*//////////////////////////////css-box-bottom why////////////////////*/
.box-bt-why{
  background-image: url('../img/bg-bt-why.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.box-col-4-left{
  text-align: right;
  margin-top: 45px;
}
.box-col-4-left img{
  margin-bottom: 15px;
}
.box-col-4-left h3{
  color: #2D2D2D;
  opacity: 1;
  font-weight: bold;
  font-size: 20px;
}
.box-col-4-left p{
 font-family: Light;
 font-size: 14px;
 color: #6D6D6D;
}
.box-col-4-left.right{
  text-align: left;
}
.mb-30{
  margin-bottom: 30px;
}
/*css-address*/
.mt-50{
  margin-top: 50px;
}
.box-out-address h2{
  font-size: 30px;
  text-transform: uppercase;
  color: #056839;
}
.box-slide-l{
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  padding: 35px 20px;
  background-color: #fff;
}

.box-slide-l h3{
  position: relative;
  color: #056839;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.desc-slide-address{
  margin-left: 15px;
}
.box-slide-l h3:before{
  content: url(../img/icon-map.png);
  background-repeat: no-repeat; 
  bottom: 0px;
  left: 0px;
  margin-right: 10px;
}
.desc-slide-address p span:first-child{
  width: 60px;
  letter-spacing: 0px;
  color: #056839;
  opacity: 1;
  margin-right: 10px;
  font-weight: bold;
  display: inline-block;
  float: left;
}
.desc-slide-address p span:last-child{
  width: calc(100% - 70px );
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  font-weight: bold;
  font-family: Regular;
  display: flex;
}
.box-slide-l:hover{
  border: 1px solid transparent;
  box-shadow: 0px 3px 15px #00000029;
  opacity: 1;
}
.mg-30{
  margin: 30px;
}
.owl-theme .owl-dots .owl-dot span{
  width: 30px;
  height: 4px;
  background-color: #056839;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #8CC63F;
    width: 60px;
}
 .owl-theme .owl-dots .owl-dot:hover span{
  background: #8CC63F;
 }
.owl-theme .owl-nav [class*=owl-]{
      background: #d6d6d600;
}
.box-slide .owl-prev img,.box-slide-dt .owl-prev img{
    left: -70px;
    margin-top: -3%;
}
.box-slide .owl-next img, .box-slide-dt .owl-next img{
    right: -70px ;
    margin-top: -3%;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #86979100;
    color: #FFF;
    text-decoration: none;
}
/*css-khach hang*/
.title-kh h2{
  font-size: 30px;
  color: #056839;
  text-transform: uppercase;
  opacity: 1;
  font-weight: bold;
  position: relative;
}
.title-kh h2:before{
 content: url(../img/title-kh.png);
 background-repeat: no-repeat;
 bottom: -10px;
 left: -99px;
 position: absolute;
}
.title-kh p{
  color: #056839;
  font-size: 14px;
  font-family:  Regular;
  margin-bottom: 35px;
}
.kh-tell-about{
  background-image: url('../img/bg-kh.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.mt-40{
  margin-top: 40px;
}
.mt-65{
  margin-top: 65px;
}
.owl-theme .owl-nav{
  margin-top: 0px;
}
/*css-khach hang*/
.box-slide-tell-about{
  background-color:#ffffffa8;
  box-shadow: 0px 3px 15px #00000029;
  border-radius: 6px;
  padding: 30px 30px;
}
.box-slide-tell-about img{
  width: 124px !important;
  height: 124px;
  border-radius: 50%;
   border: 1px solid #8CC63F;
   padding: 10px;
}
.title-top{
  display: flex;
}
.desc-tell{
  margin-top: 15px;
  margin-left: 20px;
}
.desc-tell p{
  font-size: 14px;
  color: #2D2D2D;
  font-style: italic;
}
.box-slide-tell-about p{
  color: #6D6D6D;
  font-size: 14px;
  font-family: Regular;
  margin-top: 30px;
}
.desc-tell img{
    width: 16px !important;
    height: 14px;
    float: left;
    margin: 0px 5px;
    border: none !important;
    padding: 0px !important;
}
.desc-tell h3{
  color: #056839;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.box-slide-tell-about .owl-dots{
 position: absolute;
 bottom: -50px;
 left: -5px;
}
.box-slide-tell-about .owl-nav {
  display: none;
}
.pd-80{
  padding-bottom: 80px;
}
.nav-tabs.no-bd{
  border-bottom: none;
  float: right;
}
.menu-tab ul li a{
  margin: 35px 47px;
  display: block;
  color: #2D2D2D;
  font-size: 18px;
  font-family: SemiBold;
}
.menu-tab ul li:last-child{
  margin: -10px 0px !important;
}
.menu-tab ul li a:last-child{
  margin-right: 0px !important;
}
.post-thumbnail.zoom {
    z-index: 1;
    overflow: hidden;
}
.post-thumbnail.zoom img{
  -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.post-thumbnail.zoom:hover img,.post-thumbnail.zoom:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.single-post-area .post-content {
    position: relative;
    z-index: 1;
    padding: 0px 20px;
}
.single-post-area .post-content .post-title {
  color: #2D2D2D;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
}
.single-post-area .post-content p {
    margin-bottom: 0;
    color: #6D6D6D;
    font-size: 14px;
    font-family: Light;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.single-post-area .post-thumbnail {
    z-index: 1;
    margin-bottom: 20px;
}
.post-thumbnail.zoom .sale{
  position: absolute;
  width: 67px;
  height: 88px;
  background-color: #8CC63F;
  top: -10px;
  left: 25px;
  border-radius: 0% 0% 45% 45%;
}
.post-thumbnail.zoom .sale p{
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #fff;
}
.post-thumbnail.zoom .sale p:first-child{
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
}
.post-thumbnail.zoom .sale p:first-child:after{
  content: "";
  width: 45px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 3px;
  left: 11px;
}
.single-post-area .post-content a:first-child{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.post-thumbnail.zoom .sale p:last-child{
  font-size: 15px;
  font-weight: bold;
}
.single-post-area .post-content .post-title:hover,
.single-post-area .post-content .post-title:focus {
    color: #8CC63F;
}
a.btn.vingene-btn.mt-30.view-kt {
 color: #056839;
 font-size: 14px;
 font-family:  SemiBold;
 border: 1px solid #056839;
 text-align: center; 
 height: 33px;
 line-height: 33px;
 margin-bottom: 30px;
}
a.btn.vingene-btn.mt-30.view-kt:hover{
  color: #fff;
  background-color:#056839; 
}
a.btn.vingene-btn.mt-30.a-view.all-view{
  padding: 0px;
  position: relative;
  padding-right: 20px;
  color: #fff;
  height: 33px;
  line-height: 33px;
  font-size: 16px;
  margin-top: 40px;
}
a.btn.vingene-btn.mt-30.a-view.all-view:before{
 content: url(../img/icon-next.png);
 background-repeat: no-repeat;
 bottom: -3px;
 right: 10px;
 position: absolute;
}
/*css-contact*/
.bg-contact{
 background-image: url('../img/bg-ct.png');
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #056839;
 position: relative;
}
.b-contact p{
  font-family: Regular;
  color: #fff;
}
.b-contact h2{
  color: #fff;
}
input.btn.vingene-btn.form-f.f-ct{
  width: 100%;
  margin-bottom:40px;
}
.col-f.no-pd-l{
  padding-right: 15px;
}
.col-f.no-pd-r{
  padding-left: 15px;
}
button.btn.vingene-btn.btn-sent{
  font-size: 20px;
  width: 130px;
  background-image: url(../img/bg-bt-dky.png);
  background-repeat: no-repeat;
  z-index: 99;
  background-color: #fff;
  color: #056839;
  font-weight: bold;
  position: relative;
  text-align: left;
}

button.btn.vingene-btn.btn-sent:before{
    content: url(../img/left-x.png);
    position: absolute;
    left: 70%;
    top: 0px;
}
input.btn.vingene-btn.form-f.f-ct{
  position: relative;
  font-size: 16px;
  font-family: Regular;}
/*css-palatehoder*/
/* Chrome, Opera, Safari */
input.btn.vingene-btn.form-f.f-ct::-webkit-input-placeholder {
  color: #fff;
  font-family: Regular;
}

/* Firefox 19+ */
input.btn.vingene-btn.form-f.f-ct::-moz-placeholder {
  color:  #fff;
  font-family: Regular;
}

/* IE 10+ */
input.btn.vingene-btn.form-f.f-ct::-ms-input-placeholder {
 color:  #fff;
 font-family: Regular;
}

/* Firefox 18- */
input.btn.vingene-btn.form-f.f-ct::-moz-placeholder {
 color:  #fff;
 font-family: Regular;
}
.mt-20{
  margin-top: 20px;
}

/* :: 5.0 Backtotop CSS */
#scrollUp {
    position: fixed;
    right: 40px;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    bottom: 40px;
    background: transparent linear-gradient(180deg, #CAF88D 0%, #25A568 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
    text-align: center;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius:  45% 45% 0% 0%;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0px 3px 6px #00000029;
    z-index: 15962536;
}
#scrollUp:focus,
#scrollUp:hover {
    background-color: #000000;
    color: #ffffff;
}
.modal::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1062;
    position: fixed;
    content: '';
    opacity: .3;
    z-index: -1;
}

/* :: 3.0 Preloader CSS */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #f6f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #bca858;
    font-size: 6px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
/* :: 4.0 Heading CSS */
    

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-heading h2 {
        font-size: 36px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-heading h2 {
        font-size: 36px;
    }
}
@media only screen and (max-width: 767px) {
    .section-heading h2 {
        font-size: 30px;
    }
}
.section-heading p {
    font-size: 16px;
}
.section-heading span {
    position: absolute;
    top: 50%;
    font-size: 100px;
    color: #bca858;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0.1;
    left: 0;
    font-weight: 700;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-heading span {
        font-size: 70px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-heading span {
        font-size: 70px;
    }
}
@media only screen and (max-width: 767px) {
    .section-heading span {
        font-size: 50px;
    }
}
.section-heading.text-right span {
    right: 48px;
}
.form-top{
    display: flex;
}

input.search-query.form-control.f-search{
    border-radius: 25px !important;
    height: 25px;
    border: 1px solid #066839 !important;
        background-color: #ffffff61;
}
#custom-search-input {
    margin:0;
    margin-top: 5px;
    padding: 0;
    border-radius: 50%;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 0px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #106A3F;
    display: block;
    z-index: 999;
}
.input-group-btn span:focus{
    color:#106A3F;
}
.form-control.f-search:focus {
    color: #495057;
    background-color: #fff;
    outline: none;
    box-shadow: 0;
}
/*css-palatehoder*/
/* Chrome, Opera, Safari */
input.search-query.form-control.f-search::-webkit-input-placeholder {
  color: #106A3F;
  font-family: Regular;
  font-style: italic;
  font-size: 14px;
}

/* Firefox 19+ */
.button.btn.vingene-btn.bg-btn.btn-sent::-moz-placeholder {
  color:  #fff;
  font-family: Regular;
}

/* IE 10+ */
.button.btn.vingene-btn.bg-btn.btn-sent:-ms-input-placeholder {
 color:  #fff;
 font-family: Regular;
}

/* Firefox 18- */
.button.btn.vingene-btn.bg-btn.btn-sent:-moz-placeholder {
 color:  #fff;
 font-family: Regular;
    }






/* :: 6.0 Buttons CSS */
.btn:focus {
    box-shadow: none;
}

.vingene-btn.form-f:focus,
.vingene-btn.form-f:hover { 
    color: #fff;
}

.vingene-btn.active {
    border-color: #bca858;
    background-color: #bca858;
    color: #ffffff;
}
.vingene-btn.active:focus,
.vingene-btn.active:hover {
    border-color: #252525;
    background-color: #252525;
    color: #ffffff;
}

/*css gioi thieu*/
.banne-gt{
  width: 100%;
  position: relative;
}
.mt-88{
  margin-top: 88px;
}
.box-pg{
  position: absolute;
  bottom: 60px;
  display: block;
  width: 90%;
}
.box-pg h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}
.pagination-gt ul li a{
  float: left;
  color: #EEFAE7;
  font-size: 17px;
  font-family: Regular;
}
.about-us-content.gt.mb-80 p{
  font-size: 16px;
  font-family: SemiBold;
  letter-spacing: 0px;
  color: #6D6D6D;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.mobile-hotline{
  display: none;
}
.about h5{
  color: #2D2D2D;
  font-weight: bold;
  font-size: 20px;
}
.about p{
  color: #6D6D6D;
  font-size: 14PX;
  font-family: Light;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.desc-footer .d-flex img, .contact-us.ct-us img{
  width: 22px !important;
  height: 22px !important;
  margin-right: 10px;
}
.desc-footer p span:first-child{
    letter-spacing: 0px;
    color: #056839;
    font-weight: bold;
}
.desc-footer p span:last-child {
    letter-spacing: 0px;
    font-family: Regular;
    color: #056839;
}
.d-flex.ct-us p span:first-child{
  color: #fff;
}
.d-flex.ct-us p span:last-child{
  color: #fff;
}
/*css trang kien kien thuc*/
.nav-tabs.no-bd{
  float: none;
} 
.menu-tab-kt ul li a{
  margin: 35px 20px;
  display: block;
  color: #2D2D2D;
  font-size: 18px;
  font-family: SemiBold;
}
.single-post-area:hover {
    background-color: #fff;
    box-shadow: 0px 3px 15px #00000026;
    transition: 0.3s;
    border-radius: 5px;
}
.single-post-area:hover a.btn.vingene-btn.mt-30.view-kt{
    background-image: url(../img/bg-out-sevicer.png);
    background-size: cover;
    background-color: #056839;
    color: #fff;
    transition: 0.3s;
}
.single-post-area:hover .post-content a.post-title{
   color: #056839 !important;
   display: block;
   overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
ul.links li {
    margin: 0 .4em;
    display: inline-block;
}
.nav-pagination>li>span, .nav-pagination>li>a {
    font-size: 1.1em;
    display: block;
    height: 35px;
    line-height: 2em;
    text-align: center;
    width: auto;
    min-width: 35px;
    padding: 0 7px;
    font-weight: bolder;
    border-radius: 99px;
    transition: all .3s;
    vertical-align: top;
    background-color: #CEE6D3;
    color: #056839;
}
 .nav-pagination>li>a:hover, .nav-pagination>li>a.active{
   background-color: #056839;
    color: #FFF;
}
.menu-tab-kt ul li a.active{
  color: #056839 ;
  font-size: 18px;
  font-weight: bold;
}
.lassy-menu{
  z-index: -2;
}

.menu-pr ul li{
  float: left;
}
.menu-pr ul li a{
  float: left;
  margin-right: 60px;
  font-size: 14px;
  color: #707070;
}
.mt-20{
  margin-top: 20px;
  margin-bottom: 30px;
}
.title-content-ct h2{
  color: #056839;
text-transform: uppercase;
font-size: 30px;
font-weight: bold;
}
.img-conten-ct img{
  display: block;
  margin: 0 auto;
}
.nx-ct p{
  font-size: 20px;
  color: #3E3E3E;
  font-family: Regular;
  position: relative;
  padding: 0px 70px;
}
.mt-b-30{
  margin: 30px 0px; 
}
.nx-ct p:before{
  content: url(../img/nx.png);
  left: 5px;
  position: absolute;
}
.nx-ct.mt-b-30 p{
  color: #3E3E3E;
  font-size: 20px;
  font-family: Regular;
}
.content-8 p{
  font-size: 14px;
  color: #707070;
  font-family: Regular;
}
.box-all-mxh ul li a i{
  font-size: 20px;
  color: #868686;
  margin-right: 20px;
}
.box-all-mxh ul li a:hover i{

  color: #056839;
  
}
.box-all-mxh {
  border-top: 1px solid #868686;
  padding-top: 15px;
}
.ct-r{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.menu-pr img{
  margin-bottom: 8px;
}
.box-slide-ctkt.owl-dots, .box-slide-ctkt.owl-nav{
  display: none;
}
.title-col3 h3{
  color: #056839;
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
}
.title-col3{
  border-bottom: 1px solid #056839;
}
.memu-dmuc ul li{
  padding: 10px 20px;
  color: #2D2D2D;
  font-family: SemiBold;
}
.memu-dmuc ul li a{
  font-size: 18px;
  display: block;
}
.memu-dmuc ul li:hover{
  background-color: #ECECEC;
}
.memu-dmuc ul li:hover a{
  color: #056839;
  font-weight: bold;
}
.memu-dmuc ul li.active
{
  background-color: #ECECEC;
}
.pd-r60{
  padding-right: 60px;
}
.pd-t40{
  padding-top: 40px;
}
.out-address .owl-item{
  padding: 15px;
}
select.favorites-select {
    margin-bottom: 30px;
    margin-top: 15px;
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    background-color: #8CC63F;
    color: #fff;
    outline: none;
    font-size: 18px;
}
.post-thumbnail.zoom img{
  width: 100%;
  height: 250px;
}
.out-address.mgt-40 .owl-dots{
  margin-bottom: 20px;
}
.box-center-slide{
   margin: 0 auto;
   width: 75%;
   margin-top: -140px;
   position: relative;
   z-index: 9;
   margin-bottom: 68px;
}
a.prew-number.current:hover, a.next-number.current:hover{
  background-color: #8CC63F !important;
}
form#custom-search-form{
  position: relative;
  display: block;
  width: 100%;
}
.input-append input{
  width: 100%;
  width: 100%;
  border: navajowhite;
  border-bottom: 1px solid #6D6D6D;
}
button.btn.bt-search i{
  position: absolute;
  right: 0px;
  bottom: 25px;
  color: #6D6D6D;
}
/* ///////////////////////csss-thanh scoll /////////////
}
 */
/* Track */
::-webkit-scrollbar {
    width: 10px;
    background-color: #25A568;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/*Handle
*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #CAF88D;
    -webkit-box-shadow: inset 0 0 6px rgb(144, 144, 144);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 149, 230, 0.4);
}
