@media(max-width: 1920px) {
  .top-header-area {
    margin-left: 37% ;
    padding-top: 10px;
}
    }

@media (max-width: 1500px) {
    .top-header-area {
        margin-left: 34% ;
        padding-top: 10px;
    }
    
}
@media (max-width: 1400px) {
    .top-header-area {
        margin-left: 32% ;
        padding-top: 10px;
    }
    .classynav ul li{
        margin: 0px 30px;
    }
    
}
@media (max-width: 1370px) {
    .top-header-area {
        margin-left: 28% ;
        padding-top: 10px;
    }
    
}
@media (max-width: 1300px) {
    .top-header-area {
        margin-left: 26% !important ;
        padding-top: 10px;
    }
    .classynav ul li {
        margin: 0px 20px;
    }
    
}
@media (max-width: 1300px) {
    .top-header-area {
        margin-left: 24% !important ;
        padding-top: 10px;
    }
    
}
@media (max-width: 1200px) {
   
   
}
@media (max-width: 1024px) {
   
}

@media (max-width: 992px) {
    

}
@media (max-width: 767px) {
  .mobile-hotline {
    display: block;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60px;
    position: fixed;
    z-index: 9999999;
    }
    .d-mb-none{
        display: none !important;
        opacity: 0;
    }
    .mobile-hotline .mobile-hotline-left {
    width: 45%;
    float: left;
    text-align: center;
    background: #8CC63F;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 7px;
    height: 45px;
    border-radius: 4px;
    }
    .mobile-hotline .mobile-hotline-right {
    width: 45%;
    float: right;
    text-align: center;
    background: #25A568;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    height: 45px;
    border-radius: 4px;
    }
    .mobile-hotline .mobile-hotline-left a, .mobile-hotline .mobile-hotline-right a {
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    font-weight: bold;
    }
    .d-mb-block{
        display: flex;
        margin-right: -100px ;
    }
    .box-center-slide{
        margin-top: 0px !important;
        width: 100%  !important;
    }

}
@media (max-width: 414px) {

    .mobile-hotline{
        display: block !important;
        opacity: 1;
    }
    #scrollUp{
        display: none !important;
    }
    .header-area.sticky{
        transform: none;
        top: 0px;
    }
    .classy-nav-container .classy-navbar {
        height: 0px;
        padding-bottom: 30px;
    }
    .box-slide .owl-next img, .box-slide-dt .owl-next img{
        right: 5px !important;
    }
    .box-slide .owl-prev img, .box-slide-dt .owl-prev img{
        left: 5px !important;
    }
    .box-l{
        display: block !important;
        padding: 20px 15px !important;
        text-align: center;
    }
    .box-l img{
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    button.btnSubmit.supmit, .choose-us-thumbnail.mt-30.mb-80.bg-why,.about-us-thumbnail.mb-80{
        margin-bottom: 20px;
    }
    .mb-30, a.btn.vingene-btn.mt-30.view-kt{
        margin-bottom: 0px !important; 
    }
    .about-us-content, .mt-65,.box-slide-dt{
        margin-top: 20px !important;
    }
    .about-us-content.mb-80 h3, .section-heading-why h2, 
    .section-heading-why h3,.why-content h4,.box-out-address h2,.title-kh h2,.b-contact h2 {
        bottom: 0px;
        display: block;
        font-size: 18px !important;

    }
    .about-us-content.mb-80,.nav-tabs.no-bd{
        margin-bottom: 30px;
    }
     .about-us-content.mb-80 .mt-30,.col-8-r.mb-30, .col-8-r.mt-30, .mt-50, 
     section.vingene-portfolio.pd-t40.clearfix{
        margin-top: 0px  !important;
    }
    .vingene-btn, button.btnSubmit.supmit {
        height: 35px !important;
        line-height: 35px !important;
    }
    .btnSubmit, .single-service-area, .out-address .owl-item,.col-f.no-pd-l,.col-f.no-pd-r{
        padding: 0% !important;
    }
    .pd-r60{
        padding-right: 0px  !important;
    }
    .box-col-4-left.right,.box-col-4-left  {
        text-align: center !important;
    }
    .box-slide-l h3,.single-post-area .post-content .post-title{
        font-size: 18px !important;
    }
    .out-dt .owl-next, .out-dt .owl-prev{
        display: none !important;
    }
    .about-us-content.mb-30.why-content.box-out-address.b-contact.mt-50{
        padding-top: 30px;
    }
    .single-footer-widget.mb-80{
        margin-bottom: 0px;
    }
    .copy-right{
        margin-bottom: 60px;
    }
    .single-welcome-slide .welcome-text h3,.single-welcome-slide .welcome-text h2{
        font-size: 18px !important;
    }
    input.btn.vingene-btn.form-f{
        width: 100% !important;
        margin-bottom: 30px;
    }
    .welcome-area .owl-nav .owl-next img,.welcome-area .owl-nav .owl-prev img{
        margin-top: 200px;
        width: 20px;
    }
    .nav-brand img{
        margin: 0px;
    }
    .top-header-area{
        margin-left: 37%;
    }
    .video_icon {
        left: 40% !important;
    }
    .header-area ul li a{
        background-color: transparent !important;
    }
    .page-numbers {
        padding-bottom: 20px;
    }
    select.favorites-select.top{
        margin-top: 15px;
    }
    .box-pg {
        position: absolute;
        bottom: 0px !important;
        display: block;
    }
    .box-pg h2,.title-content-ct h2{
        font-size: 18px !important;
    }
    .banne-gt img{
        height: 200px;
    }
    .title-content-ct h2{
        margin-top: 20px;
    }
    .menu-pr ul li a{
        margin-right: 20px !important;
    }
    .nx-ct p{
        padding: 0px !important ;
    }
    .nx-ct p:before {
        content: url(../img/nx.png);
        right: 0px  !important; 
        position: initial  !important;
        margin-right: 20px  !important;
    }
    .mgt-40{
        margin-top: 40px;
    }
    .mt-20{
        text-align: center;
    }
    
    .header-area.sticky {
        height: 60px !important;

    }
    .welcome-area form{
        display: none;
    }
    .single-welcome-slide .welcome-text p{
        font-size: 12px !important;
    }
    section.contact.bg-contact .contact-us{
        padding-bottom: 0px !important;
    }
    .about-us-content.mb-30.why-content.box-out-address h5{
        margin-bottom: 20px;
    }
     .about-us-content.mb-30.why-content.box-out-address h2{
        margin-bottom: 15px;
     }
     .out-address .owl-nav .owl-prev,.out-address .owl-nav .owl-next{
        display: none !important;
     }
     .open-time ul li{
        padding-bottom: 0px;
     }
     .mt-88 {
        margin-top: 63px !important;
    }
    .mt-42 {
        margin-top: 15px !important;
    }
    select.favorites-select.dm-ct-kt {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    section.out-address.mgt-40.mb-40-kt{
        margin-top: 0px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) { 
    .header-area .top-header-area{
        display: none !important;
    }
    .nav-brand img {
        margin-bottom: 0px;
        margin-left: 0;
    }
    .header-area.sticky{
        height: 70px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) { 
    .top-header-area {
        margin-left: 0 !important;
       margin-bottom: 20px !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { 
    .top-header-area {
        margin-left: 15% !important;
        padding-top: 10px;
    }
    .classynav ul li {
        display: inline-block;
        clear: both;
        margin: 0px 13px;
        position: inherit;
        z-index: 10;
    }
    .nav-brand img{
        width: 70%;
        margin-left: 0;
    }

    a.btn.vingene-btn.dky-top {
        margin-bottom: 10px !important;
        height: 30px;
        line-height: 30px;
    }
}
@media screen and (min-width: 1201) and (max-width: 1400px) { 
  .breakpoint-off .classynav{
    display: block;
  }
  .top-header-area{
    margin-left: 23% !important;
  }
}