.btn-service img{
    width:24px;
    margin-left:12px;
}
.btn-service{
    font-size: 14px;
    color: #fff;
    background-color: #056839;
    background-image: url("../../img/imgchange/bgbutton.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12px 22px;
    border-radius: 100px;
}
.address-service{
   margin-top:85px;
    margin-bottom: 41px;
}

.diachixetnghiem .dcxn-title{
    background-color: #8cc63f4a;
    padding-top: 27px;
    padding-bottom: 6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float:left;
}
.diachixetnghiem .dcxn-title img{
    float: left;
    margin-right: 15px;
}
.diachixetnghiem .dcxn-title p{
    color: #056839;
    font-weight: bold;
}
.dcxn-items{
    padding-top:27px;
    float:left;
}

.dcxn-items p{
    color: #056839;
    font-weight: 700;
    float:left;
    width:35%;
}
.dcxn-items select{

    border: none;
    border-bottom: 1px solid #C5C8CA;
    color: #6D6D6D;
    font-family: light;
    font-weight: 700;
}
.dcxn-items input{
    border-bottom: 1px solid #C5C8CA;
    border-top: none;
    border-right: none;
    border-left: none;
    width:65%;
}
#choose1, #choose2{
    width:65%;
}
#choose2:focus, #choose1:focus{
    outline: none;
 }
#choose3{
    width: 129px;
}
.dcxn-button{
    float:left;
    background-color: #ECECEC;
    padding-top:24px;
    padding-bottom: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.dcxn-button button{
    border:none;
    background-color:transparent;
    cursor: pointer;
}
.dcxn-button button:focus{
    outline: 0;
}
.dcxn-button button img{
    width:32px;
}
.dcxn-button button:before{
    content: url("../../img/imgchange/search.png");
}
.select-address{
    box-shadow: 0px 3px 15px #00000029;
    padding: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: inline-block;
    width: 100%;
}
.diachixetnghiem .maps{
    padding-top:0;
    padding-bottom: 0;
    padding-left:15px;
    padding-right:15px;
    margin-top: -8px;
    z-index: -1;
}
.address-diachi .box-address-item .box-item{


}

.address-diachi .box-address-item .box-item:hover{
 /*   box-shadow: 0px 3px 15px #00000029;
    transition: 0.5s;
    border:none;*/
}
.address-diachi .box-address-item .box-item h3{
    position: relative;
    color: #056839;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.address-diachi .box-address-item .box-item h3:before{
    content: url(../../img/icon-map.png);
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0px;
    margin-right: 10px;
}
.address-diachi .box-address-item-icon span:first-child{
    width: 45px;
    height: 3px;
    background-color: #8CC63F;
    display: inline-block;
    border-radius: 4px;
}
.address-diachi .box-address-item-icon span:nth-child(2){
    width: 27px;
    height: 3px;
    background-color: #056839;
    display: inline-block;
    border-radius: 4px;
}
.address-diachi .box-address-item-icon span:last-child{
    width: 27px;
    height: 3px;
    background-color: #056839;
    display: inline-block;
    border-radius: 4px;
}
.header-bottom{
    height:auto;
}

























