p{
    font-family: Light;
}
/*BANG GIA*/
.price{
    padding-top:97px;
    padding-bottom:97px;
}
.price .price-item:hover{
    margin-top:-8px;
    transition: 0.5s;
}
/*
.banner-price{
    background-image: url(../../img/imgchange/bannerbanggia.png);
    padding-top: 240px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}*//*
.banner-price:before{
  content: '';
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background-color:#80808059;
}*/
.banner-price .img-service:before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background-color:#80808059;
}
.price-item {
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.price-item:hover{
    cursor: pointer;
}
.box-price-item{

    padding:30px 37px;
}
.price-detail .box-price-item{
    padding:20px 37px;
}
.price-detail .box-price-item h4{
    color: #056839 !important;

}
.price-detail .price-tabs-show1 h4,.price-detail .price-tabs-show2 h4,.price-detail .price-tabs-show3 h4{
    color: #2D2D2D !important;
}
.price-detail button{
    margin-top:28px;
}
.price-detail .btn-service{
    color: #fff;
    background-color: #056839;
    background-image: url(../../img/imgchange/bgbutton.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.post-price .box-price-item h4:first-child{
    margin-bottom: 0;
}
.price-item h4{
  font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price-item p{
    color: #707070;
    font-size: 26px;
    font-family: roboto;
}
.price-item span{
    color: #056839;
    font-size: 75px;
    font-weight: bold;

}
/*.price-item */.btn-service{
    font-size: 18px;
    padding: 13px 32px;
    margin-bottom: 25px;
    color: #056839;
    border:1px solid #056839;
    background-image: none;
    background-color:#fff;
}
/*.price-item */.btn-service:hover{
    color: #fff;
    background-color: #056839;
    background-image: url(../../img/imgchange/bgbutton.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.price-content ul{
    padding-left:0;
}
.price-content .ul-left{
    float:left;
    margin-right:85px;
}
.price-content ul li{
    font-size: 14px;
    color: #056839;
    list-style-type: none;
    margin-bottom: 5px;
    font-family: light;
    font-weight: 600;

}
.price-content ul li img{
    width:11px;
    margin-right:10px;
}
.price-item .btn-readmore{
    border-top: 1px solid #0000001A;
    padding: 17px 43px;
}
.price-item .btn-readmore a{
    font-size: 18px;
    color: #056839;
    font-weight: 500;
}
.price-item .btn-readmore a:hover{
   text-decoration: none;
    font-size: 19px;
    transition: 0.3s;
}

/*.price-item .btn-readmore a img{
   width:17px;
}*/

/*BANG GIA CHI TIET*/

.post-price{
    padding-top:85px;
    padding-bottom: 80px;
}
.post-price-content p{
    color: #2D2D2D;
    font-size: 16px;
}
.post-price-content p:nth-child(3){
    padding-left:0px;
   font-weight: bold;
}
.post-price-content p:nth-child(2){
      padding-left:0px;
    font-weight: bold;
  }
.post-price-content h4{
    color: #056839;
    font-size: 18px;
    padding: 9px 23px;
    background-color: #05683930;
    margin-bottom: 20px;
    margin-top: 30px;
}
.post-price-content strong{
    color:#2D2D2D;
}
.post-price-content .price-content ul,.post-price-content p{
    padding-left:23px;
}
.post-price-content .price-content li{
    color:#2D2D2D;
}
.price-tabs-show1, .price-tabs-show2, .price-tabs-show3{
    display:none;
}
.post-price .box-price-item h4{
    position: relative;
   /* margin-bottom:0;*/
}
.post-price .box-price-item h4 img{
    position: absolute;
    right:0;
    top:33%;
}
.post-price .box-price-item h4{
    color:black;
}
.vingene-portfolio-fix {
    margin-top:84px;
}


















