.contact-form .full-width{
    width:100%;
}
.contact-form .part-width{
    width: 48%;
    float: left;
    margin-right:2%;
}
.contact-form .no-margin{
   float:right;
    margin-right:0%;
}
.contact-form .message{
  padding-bottom: 60px;
}
.contact-form input{
    border: 1px solid #106A3F;
    border-radius: 21px;
    margin-bottom: 43px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    background-color: #106a3f12;
}
.contact-form input::placeholder {
    color: #106A3F;
    font-family: light;
    font-weight: 600;
}
.contact-form input:focus{
    outline: none;
}
.contact-us .btn-service{
    font-size: 20px;
    padding:7px 24px;
    font-family: light;
    color: #fff;
    background-color: #056839;
    background-image: url(../../img/imgchange/bgbutton.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-us .banner-text-item ul li a {
    color: #6D6D6D;
    position: relative;
    font-family: light;

}
.contact-us .banner-text-item ul li a:before {
    content: '';
    width: 1px;
    height: 14px;
    background: #6D6D6D;
    position: absolute;
    top: 16%;
    left: -18px;
}

.contact-us .banner-text-item ul li:first-child a:before {
   background:transparent;
}
.contact-us .banner-text-item {
    margin-bottom: 93px;
    margin-top:20px;
}
.contact-us .choose-service{
    border: 1px solid #106A3F;
    border-radius: 21px;
    margin-bottom: 43px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    background-color: #106a3f12;
    width: 100%;
    font-family: light;
    font-weight: 600;
}
.contact-us .choose-service:focus, .contact-us .choose-service .choose-option:focus{
  outline: none;
}
.contact-us .choose-service option{
    color: #106A3F;
}
.contact-us .choose-service .choose-option,.contact-us .choose-service{
    color: #106A3F;
    font-family: light;
    font-weight: 600;
}
.contact-us .choose-service .choose-option{
    margin-bottom: 15px;
}
.contact-us .contact-form .choose-service{
    position: relative;
}
.contact-us .contact-form .choose-service:before{
    content: url("../../img/imgchange/tick.png");
    position: absolute;
}
/*
.choose-service:before{
    content: '\f175';
    font-family: FontAwesome;
}
.contact-form i:before{
    content: '\f175';
    font-family: FontAwesome;
    font-style: initial;
}*/
.contact-us .address-box{
    background-image: url('../../img/imgchange/contactus.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.contact-us .address-box:before{
    content: '';
    background-color: #056839d6;
   position: absolute;
   width: 100%;
   height:100%;
   top:0;
   z-index: -1;
}
.serviceus-content{
    padding-left:60px;
    padding-top:92px;
    padding-bottom: 117px;
}
.contact-us .container-fluid .contact-form,.contact-us .banner-text-item{
    width:552px;
    float:right;
    padding-left:15px;
}
/*
.contact-right{
    width: 100%;
    position: absolute;
    right: 0;
}*/
.contact-us .container-fluid{
    padding:0;
}
.contact-us .title-color h2{
    color:#fff;
    font-size: 30px;
    margin-bottom: 43px;
}
.contact-us .address-box .contact-box{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.contact-us .address-box .contact-box-part{
    width:50%;
    float:left;
}
.contact-us h4, .contact-us p{
    color:white;
}
.contact-icon{
        float: left;
    margin-right: 30px;
}
.contact-icon img{
    margin-top:12px;
}
.contact-text{
    float:left;
}
.contact-text p{
    margin:0;
    color:white;
}
.contact-us hr{
    background-color:#fff;
    margin-bottom: 43px;
    margin-top:27px;
}
.contact-us{
    padding-top:0;
    padding-bottom: 0;
    margin-bottom: 56px;
}

.dropdown-content{
    display: none;
}























