
.posts-service .post-item .content-box-service .btn-service{
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(../../img/imgchange/bgbutton.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: light;
    font-weight: 600;

}

.posts-service .post-item:hover .content-box-service .btn-service{
    color: #fff;
    background-color: #056839;
}

.address-service .btn-service-icon{
    font-size: 14px;
    color: #fff;
    background-color: #056839;
    background-image: url(../../img/imgchange/bgbutton.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12px;
    padding-bottom: 8px;
    font-family: SemiBold;
    font-weight: bold;
    text-shadow: none;
    padding-right: 36px;
    position: relative;
    border-radius: 29px;
}
.address-service .btn-service-icon:before{
    position: absolute;
    content: url(../../img/imgchange/pdf.png);
    right: 8px;
}

.contact-us-fix .left-contact .contact-form .fix-icon span{
    position: relative;
}
.contact-us-fix .left-contact .contact-form .fix-icon span:before{
    position: absolute;
    content: url(../../img/imgchange/bottom.png);
    right: 4px;
    top: -2px;
    padding-right: 15px;
    background-color: #eef4f1;
    border-radius: 25px;
}

.service-advisory .service-advisory-button .btn-ad-service:after{
    content: url(../../img/imgchange/calendarfff.png);
    position: absolute;
    left: 15px;
    top: 5px;
}
.service-advisory .service-advisory-button .btn-ad-service{
    background-color: #056839;
    color: #fff;
    background-image: url(../../img/imgchange/bgbutton.png);
    background-size: cover;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 57px;
    padding-right: 25px;
    border-radius: 100px;
    background-repeat: no-repeat;
    font-size: 15px;
    position: relative;
}

.document-service .do-items .document-item ul li{
    list-style-type: none;
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px;
}
.document-service .do-items .document-item ul li:before{
    position: absolute;
    content: url("../../img/imgchange/pdfxanh.png");
    left:0;
}
.price-detail .price-item h4{
    margin-top:0;
}
.price .btn-service{
    color:#056839 !important;
}

.price .btn-service:hover{
    color:#fff !important;
}

.price-item .btn-readmore .detail-icon{
    position: relative;
    padding-right:30px;
}
.price-item .btn-readmore .detail-icon:before{
    position: absolute;
    content: url("../../img/imgchange/right1.png");
    right:0;
}
.price-detail .box-price-item{
    position: relative;
}
.price-detail .box-price-item:before{
    position: absolute;
    content: url("../../img/imgchange/rightwhite.png");
    right:15px;
}
.contact-us .contact-form .choose-service{
    position: relative;
}
.contact-us .contact-form .choose-service:before{
    content: url("../../img/imgchange/tick.png");
    position: absolute;
}
.ad-rights p:first-child{
    color: #056839;
    font-weight: 600;
}
.ad-rights p{
    font-weight: 600;
}
.ad-lefts p{
    font-weight: 600;
}
.why-choose-us-area .section-heading-why ul li a{
    font-family: light;
    font-weight: 600;
    color: #6D6D6D;
}
.why-choose-us-area .section-heading-why ul li a i{
   margin-right:15px;
}
.why-choose-us-area .section-heading-why ul li a i:before{
    color: #cee6d3;
}
.document-service .do-items .document-item ul li{
    width: 50%;
    float: left;
}
.post-price .box-price-item h4 img{
    display:none !important;
}
.price-detail .price-content{
    display:inline-block;
}
.price-detail .price-content ul li{
   width:50%;
    float:left;
    position: relative;
}
.price-tabs-show1 .price-content ul li, .price-tabs-show2 .price-content ul li, .price-tabs-show3 .price-content ul li{
    position: relative;
    padding-left:15px;
}
.price-tabs-show1 .price-content ul li img, .price-tabs-show2 .price-content ul li img, .price-tabs-show3 .price-content ul li img{
   display: none;
}

.price-tabs-show1 .price-content ul li:before, .price-tabs-show2 .price-content ul li:before, .price-tabs-show3 .price-content ul li:before{
    position: absolute;
    content: url("../../img/imgchange/tick.png");
    left:0;

}
.price-tabs-show1 .price-content ul:last-child li:before, .price-tabs-show2 .price-content ul:last-child li:before, .price-tabs-show3 .price-content ul:last-child li:before{
    position: absolute;
    content: url("../../img/imgchange/heart.png");
    left:0;

}
.contact-us-fix .btn-service img{
    display: none;
}
.contact-us-fix .btn-service{
    position: relative;
    padding: 7px 50px 7px 20px !important;
}
.contact-us-fix .btn-service:before{
    position: absolute;
    content: url(../../img/imgchange/guidi.png);
    right: 16px;
    top: 11px;
}
.contact-us .btn-service img{
    display: none;
}
.contact-us .btn-service{
    position: relative;
    padding: 7px 50px 7px 20px !important;
}
.contact-us .btn-service:before{
    position: absolute;
    content: url(../../img/imgchange/guidi.png);
    right: 16px;
    top: 11px;
}
.price-tabs .price-content ul li{
    width:100%;
}
.post-price .price-content ul li{
    width:50% !important;
    float:left;
}
.price-tabs-show1 .price-content ul li, .price-tabs-show2 .price-content ul li, .price-tabs-show3 .price-content ul li{
 width:100%;
}

.price .price-item .box-price-item ul li{
    color: #056839;
    font-size: 14px;
    font-family: light;
    font-weight: 600;
    position: relative;
    padding-left: 20px;
}
.price .price-item .box-price-item ul li:after{
    content: url(../../img/imgchange/tick.png);
    left: 0;
    position: absolute;
}

.price .price-item .box-price-item ul:last-child li:after{
    content: url(../../img/imgchange/heart.png);
    left: 0;
    position: absolute;
}
.price .col-md-4{
    height:905px;
}














@media screen and (max-width: 576px) {
    .address-diachi .box-slide-l .item-box{
        padding-left:15px;
    }
    .address-diachi .box-slide-l .item-box .desc-slide-address{
        margin-left:0;
    }
    .row-dcxn{
        display:initial;
    }
    .box-address-item{
        margin: 15px;
        border-radius: 8px;
        border: 1px solid #CFCFCF;
    }
    .price .col-md-4{
        height:auto !important;
    }
    .out-address-3 .box-slide-l .item-box{
        padding-left:15px !important;
    }
    .document-service .do-items .document-item ul li{
        width:100%;
    }

}


@media screen and (min-width: 1200px){
    .row-dcxn {
        display: grid;
        grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
        grid-column-gap: 30px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
    }
    .box-address-item {
        flex: 1 0;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #CFCFCF;
        border-radius: 8px;
    }


}





























