@media screen and (max-width: 576px){
    /* 3 - dich vu*/
    .service-us .img-serviceus img{
        display: none;
    }
    .service-us .service-us-content{
        position: unset;
        width:100%;
        margin-left:15px;
        margin-right:15px;
        padding-left:0;
        padding-right:0;
    }
    .banner-service h2{
        font-size: 26px;
    }
    .banner-text-item ul li{
        font-size: 12px;
    }
    .banner-text-item{
        bottom: 5%;
    }
    .posts-service{
        margin-top:0;
    }
    .test-box-item .test-img{
        display:none;
    }

    /* 7 - dia chi xet nghiem*/
    .dcxn-items{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .phieuketqua{
        width: 350px;
    }
    .contact-us .container-fluid .contact-form{
        width: 100%;
        padding-right:15px;
    }
    .address-service{
        margin-top:30px;
        margin-bottom: 0;
    }
    .contact-us .banner-text-item{
        margin-bottom: 30px;
    }
    .out-address{
        margin-bottom: 30px;
    }
    .service-advisory{
        margin-top:30px !important;
    }
    .post-price{
        padding-top:30px;
    }
    .price{
        padding-top:30px;
    }
    .contact-form input{

        margin-bottom: 15px;
    }
    .contact-us .contact-form .choose-service{

        margin-bottom: 15px;
    }
    .contact-us .serviceus-content{
        padding-top: 30px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
    .contact-us .serviceus-content .contact-box{
       display: flex;
    }
    .contact-us .serviceus-content h2, .contact-us .serviceus-content h2{
       font-size: 18px;
        margin-bottom: 15px;
    }
    .contact-us hr {
        margin-bottom: 15px;
        margin-top: 15px;
        margin-right: 15px;
    }
    .contact-us-fix{
        margin-top: 30px;
    }
    .contact-us-fix .left-contact .contact-form{
        width: 100%;
        padding-right:0;
    }
    .contact-us-fix .left-contact, .contact-us-fix .right-info{
        width:100%;
    }
    .contact-us-fix .right-info .address-box{
        width:100%;
    }
    .contact-us-fix .right-info .address-box .serviceus-content{
        padding-top:30px;
        padding-bottom: 30px;
        padding-left:15px;
        padding-right:15px;
    }
    .contact-us-fix .right-info .address-box .serviceus-content .contact-icon{
        margin-right:15px;
    }
    .contact-us-fix .right-info .address-box h2, .contact-us-fix .right-info .address-box h4{
        font-size: 18px;
    }
    .contact-us-fix .right-info .address-box .contact-box{
        display: flex;
    }
    .contact-us-fix .left-contact .contact-form .choose-service{
        margin-bottom: 15px;
    }

/* CHI TIET DICH VU */
    .info-vingene .info-box{
        margin-top:15px !important;
        margin-bottom: 15px;
    }
    .info2-vingene h2{
        font-size: 30px !important;
    }
    .info2-vingene .info-box h3{
        font-size: 15px !important;
    }
    .test-banner h2{
        font-size: 30px !important;
    }
    .document-service{
        padding-top:30px !important;
    }
    .test-dervice .title-color h2, .document-service .title-color h2   {
        font-size: 26px !important;
    }
    .sick-service-moblie .box-item .box-item-default{
        padding-left: 10px !important;
        padding-top: 15px !important;
        padding-bottom: 0px !important;
    }

    .sick-service-moblie .box-item .box-item-default .imgres{
        width:100% !important;
    }
    .sick-service-moblie .box-item .box-item-default .imgres img{
        margin-left: 17px !important;
        margin-top: 22px !important;
    }
    .sick-service-moblie .box-item .box-item-default .content-box-default,.sick-service-moblie .box-item .box-item-default .content-box-focus{
        margin-left: 42px !important;
    }
    .why-choose-us-area-mobile .pd-r60{
        padding-right: 15px !important;
    }

    /* BANG GIA CHI TIET */
    .price-content .ul-left{
        float: none;
    }
    .post-price-content p{
        padding-left:0;
    }
    .price-tabs1 , .price-tabs2, .price-tabs3{
        padding:0;
    }
    .post-price{
        padding-bottom: 30px;
    }
    .price{
        padding-bottom: 30px;
    }
    .banne-gt img{
        max-width: 100%;
        height:auto;
    }
    .left-contact .box-pg{
        width:100%;
    }
    .service-advisory .ad-right .p-color{
        margin-top:15px;
    }
    .address-diachi .box-address-item .box-item{
        padding: 20px 0px 20px 15px;
    }
    .test-dervice .img-test-dervice .test-box{
        width:100%;
    }
    .test-dervice{
        padding-top:30px;
        padding-bottom: 30px;
        background-color: #F1EFEF;
        background-image: none;
    }
    .test-dervice .title-color h2{
        margin-bottom: 0;
    }
    .test-dervice:before{
        content: none;
    }
    .dangki .form-dangkixetnghiem{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
    }
    #datepicker input{
        height:42px;
    }
    .button-dangkixetnghiem{
        margin-left:15px;
        margin-right:15px;
    }
    .title-phieuketqua h3{
        font-size: 20px;
    }
    .content-phieuketqua{
        margin-left:15px;
        margin-right:15px;
    }
    .button-bottom{
        margin-left:15px;
    }
    .price .col-md-4{
        height:auto;
    }












}


@media screen and (max-width: 1400px){
    .container-fluid{
        width:100%;
    }

}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 746px !important;
        margin: 1.75rem auto;
    }
}




























