@media screen and (max-width: 576px){
    /* 3 - dich vu*/
    .service-us .img-serviceus img{
        display: none;
    }
    .service-us .service-us-content{
        position: unset;
        width:100%;
        margin-left:15px;
        margin-right:15px;
        padding-left:0;
        padding-right:0;
    }
    .banner-service h2{
        font-size: 26px;
    }
    .banner-text-item ul li{
        font-size: 12px;
    }
    .banner-text-item{
        bottom: 5%;
    }
    .posts-service{
        margin-top:0;
    }
    .test-box-item .test-img{
        display:none;
    }

    /* 7 - dia chi xet nghiem*/
    .dcxn-items{
        padding-top: 15px;
        padding-bottom: 15px;
    }






}


@media screen and (max-width: 1400px){
    .container-fluid{
        width:100%;
    }

}





























