.service-advisory{
   margin-top:83px;
    padding-bottom: 60px;
    background-image: url("../../img/bg-xoc.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.service-advisory .ad-left p, .service-advisory .ad-right p{
    font-size: 14px;
    font-weight: bold;
}
.service-advisory .ad-right .p-color{
    font-size: 16px;
    color: #056839;
}
.service-advisory video{
    width:100%;
}
.service-advisory .service-advisory-button{
    margin-top:30px;
}


/* THONG TIN VE VINGENE */
.info-vingene{
    background-image: url(../../img/imgchange/chitiet1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top:30px;
    padding-bottom: 30px;
}
.info-vingene h4{
    color: white;
    font-family: light;
    font-size: 20px;
    font-weight: bold;
}
.info-vingene p {
font-family: light;
}
.info-vingene h4, .info-vingene p{
    color:white;
}
.info-vingene p{
    font-size: 14px;
}
.info-vingene:before{
    content: '';
 width:100%;
    height:100%;
    background-color:#22744bd9;
    position: absolute;
    top:0;

}
.info-vingene .info-box{
    margin-top:55px;
}
.info2-vingene .info-box:hover{
    box-shadow: none !important;
}
.info-vingene .info-box img{
    margin-bottom: 20px;
}
.info-vingene .info-box:hover{
    box-shadow: 0px 3px 15px #00000026;
    cursor: pointer;
    transition: 0.5s;
}
/* test banner */
.test-banner{
    background-image: url(../../img/imgchange/chitiet2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top:66px;
    padding-bottom: 60px;
}

.test-banner:before{
    content: '';
    width:100%;
    height:100%;
    background-color:#ffffffbf;
    position: absolute;
    top:0;
z-index: -1;
}
.test-banner h2{
    font-size: 30px;
    color: #056839;
}
.test-banner p{
    color: #6D6D6D;
    font-weight: bold;
}
/* info2-vingene  */
.info2-vingene{

    padding-bottom: 52px;
}
.info2-vingene .info-box h3{
    margin-bottom:25px;
    font-family: light;
    font-size: 23px;
}
.info2-vingene h2{
    font-size: 51px;
}
.info2-vingene h2, .info2-vingene h3{
    color:white;
}
/* TAI LIEU LIEN QUAN */
.document-service{
    padding-top:75px;
    padding-bottom:36px;
}
.document-service .title-color p{
    font-size: 14px;
    margin-bottom: 27px;
}
.document-service .title-color h2{
    margin-bottom: 20px;
    font-size: 30px;
}
.document-service .title-color h2 p{
    margin-bottom: 30px;
    font-size:14px;
}
.document-service .do-items .document-item{
    float:left;
}
/*
.document-service .do-items .document-item ul li img{
    width: 24px;
    margin-right: 30px;
}*/

.document-service .do-items {
    border-top: 4px solid #22744B;
    padding-top: 30px;
    background-color: #2d2d2d12;
    padding-bottom:30px;
}
.document-service .do-items .document-item ul li a{
    color: #2D2D2D;
    font-weight: 600;
    font-family: light;
}
.document-service .do-items .document-item ul li a:hover{
    transition: 0.8s;
    border-bottom: 1px solid #22744b;
}























