.sick-service{
    padding-top:30px;
    padding-bottom: 46px;
}
.content-box-focus{
   display: none;
}
.sick-service .box-item .box-item-default{
    display: inline-flex;
    padding-left: 30px;
    padding-top: 34px;
    padding-bottom: 22px;
    border: 1px solid #6B9A82;
    border-radius: 11px;
    padding-right: 10px;

}
.sick-service .box-item{
    padding-top:15px;
    padding-bottom:15px;
}
.sick-service .box-item .box-item-default:hover{
    box-shadow: 0px 3px 15px #00000026;
    transition: 0.3s;
    border:none;
}
.sick-service .box-item .box-item-default:hover .content-box-default{
  display:none;
}
.sick-service .box-item .box-item-default:hover .content-box-focus{
    display:block;
}
.sick-service .box-item .box-item-default .content-box-default, .sick-service .box-item .box-item-default .content-box-focus{
   margin-left: 0px;
}
.sick-service .box-item .box-item-default .content-box-default h3,.sick-service .box-item .box-item-default .content-box-focus h3{
    font-size: 16px;
}
.sick-service .box-item .box-item-default .content-box-default p, .sick-service .box-item .box-item-default .content-box-focus p{
    font-size: 14px;
}
.sick-service .box-item .box-item-default .imgres{
    width:65%;
}
.sick-service .box-item .box-item-default .imgres img{
    width:30px;
    height:30px;
    margin-left: 18%;
    margin-top: 18%;
}
.sick-service .box-item .box-item-default span{
    width:30px;
    height:34px;
    position: relative;
    margin-top:20px;
}
.sick-service .box-item .box-item-default span:before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #EEFAE7;
    z-index: -1;
    left: -59%;
    top: -37%;
}
.img-left-posi .img-left{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 58px;
}
.text-image .img-left{
    background-image: url("../../img/imgchange/chitiet3.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -5;
}
.text-image{
    padding-bottom: 100px;
    margin-top:100px;
}
.text-image .img-left p{
    color:#056839;
    margin-bottom: 70px;
    position: absolute;
    left:50px;
    font-weight: bold;
    font-size: 20px;
    font-family: "ExtraBold";
}
.text-image .img-left p strong{
    font-size: 16px;

}
.img-left p:nth-child(2){
    position: absolute;
    left: -50px;
    top:100px;
}
.img-left p:nth-child(3){
    position: absolute;
    left: -30px;
    top: 230px;
}
.text-image .img-left strong{
    position: relative;
}
.text-image .img-left strong:before{
    content:'';
    width:87px;
    height:87px;
    border-radius:100px;
    background-color:#CEE6D3;
    position: absolute;
    z-index: -1;
    left: -42px;
    top: -17px;
}
.text-image .img-left strong:after{
    content:'';
    width:106px;
    height:106px;
    border-radius:150px;
    background-color:#fff;
    position: absolute;
    z-index: -2;
    box-shadow: 0px 3px 15px #00000029;
    left: -52px;
    top: -26px;
}
.text-item-right h2, .text-item-right h3{
    color:#056839;
}
.text-item-right ul li{
    color:#6D6D6D;
position: relative;
    font-family: Light ;
}
.text-item-right ul{
    margin-left:45px;
}
.text-item-right ul li:after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 15px;
    background-color: #cee6d3;
    bottom: 7px;
    left: -30px;
}
.tuanthaiki{
    display: flex;
    position: absolute;
    bottom: -45px;
    left: -88px;
}
.tuanthaiki h4{
    padding-top: 22px;
    padding-bottom: 0px;
    color: white;
    padding-left: 22px;
    padding-right: 22px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    position: relative;
    margin-bottom: 0;
    background-image: linear-gradient(#056839, #1CA867);
    font-family: light;
    font-style: italic;
}
.tuanthaiki h4:before{
    position: absolute;
    content: '';
    width: 599px;
    height: 53px;
    background-color: #CEE6D3;
    z-index: -1;
    bottom: 0px;
    left: 66px;
}
.tuanthaiki:before{
    position: absolute;
    content: '';
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid #cee6d3;
    right: -102px;
    bottom: 0px;
    transform: rotateZ(90deg);
    z-index: -2;

}
.tuanthaiki ul {
    display:flex;
}
.tuanthaiki ul li{
    margin-top: 25px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 31px;
    color: #056839;
    font-style: italic;
    font-family: light;
    font-weight: 600;
    position: relative;
}
.tuanthaiki ul li:before{
  content: '';
    position: absolute;
    width: 7px;
    height:7px;
    border-radius:15px;
    background-color:#056839;
    bottom: -3px;
    left: 50%;
}

.img-left-posi{
    position: relative;
}

















